html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI;
}

body {
  background: linear-gradient(
    to right top,
    #08072c,
    #091235,
    #0d193f,
    #112149,
    #142853,
    #1c3462,
    #244072,
    #2c4d82,
    #3b629c,
    #4979b6,
    #5890d1,
    #66a8ec
  );
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: linear-gradient(
      to right top,
      #08072c,
      #091235,
      #0d193f,
      #112149,
      #142853,
      #1c3462,
      #244072,
      #2c4d82,
      #3b629c,
      #4979b6,
      #5890d1,
      #66a8ec
    ) !important;
  }
}

#__next {
  height: 100svh;
}
